#calculatorUi {
   
}

#calculatorUi .numeric {
    display: flex;
    flex-wrap: wrap;
}

#calculatorUi > .numeric > a {
	flex: 1 0 25%;
    margin: 5px;
	height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: xx-large;
    font-weight: bold;
}

#calculatorUi > .operands {
    display: flex;
}

#calculatorUi > .operands > a {
    flex: 1 0 auto;
    margin: 5px;
    font-size: xx-large;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
}